* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-info {
  flex: 1;
}

h1 {
  display: inline-block;
  font-size: 24px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.h1-span{
  color: #3075FF;
}

.contact-info {
  display: flex;
  margin-bottom: 10px;
}

.contact-info div:first-child {
  margin-right: 20px;
}

.blog-link {
  display: flex;
  align-items: center;
  background-color: #F3F5FA;
  padding: 11px;
  border-radius: 7px;
  margin: 10px 0;
}

.blog-link img {
  width: 20px;
  height: 20px;
}

.line {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

h2 {
  color: #2E6FF2;
  margin-top: 20px;
  margin-bottom: 10px;
}
.introduction p{
  margin: 5px;
}
.skills{
  display: block;
  margin: 40px 0;
}
.skills h2 {
  display: inline;
  margin-right: 7px;
}

.skills span {
  background-color: #f0f0f0;
  color:#2E6FF2;
  padding: 11px 25px;
  margin: 0 3px;
  border-radius: 9999px;
  line-height: 1.5px;
}

.project h3 {
  display: inline;
  background-color:#F3F5FA;
  color:#2E6FF2;
  margin: 15px 0;
  padding: 5px;
}
.project p{
  margin: 25px 2px;
}
.project-links div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.project-links img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

a {
  color: #2E6FF2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}